%{sub_dirs, ["rel"]}.
%{cover_enabled, true}.
{lib_dirs,["deps"]}.
{deps, [
  {'mochiweb', ".*", {git, "https://github.com/mochi/mochiweb.git", "master"}},
  {'emysql', ".*", {git, "https://github.com/Eonblast/Emysql.git", "master"}},
  {'erlydtl', ".*",  {git, "https://github.com/evanmiller/erlydtl.git", "master"}},
  {'social_net_api', ".*", {git, "https://github.com/petrkozorezov/social_net_api.git", "master"}}
]}.

