<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8" />
		<title>Сонник</title>
		<!-- add your meta tags here -->

		<link href="css/base.css" rel="stylesheet" type="text/css" />
		<!--[if lte IE 7]>
		<link href="css/patches/patch_my_layout.css" rel="stylesheet" type="text/css" />
		<![endif]-->
		<script type="text/javascript" src="js/jquery.js"></script>
		<script type="text/javascript" src="js/base.js"></script>

		<script type="text/javascript" src="js/jsScroller.js"></script> 
		<script type="text/javascript" src="js/jsScrollbar.js"></script> 
		{% include "ok.html" %}
	</head>
	<body>


		<div class="page_margins">
			<div class="page">
				<div id="header">
					<div id="account">
						{% include "account.html" %}
					</div>
					<div id="back">
						<!-- -->
					</div>
					<!--
					<div id="title">
						<h1> Test </h1>
					</div>
					-->
				</div>
				<div id="main">
					<!-- -->
				</div>
				<!-- begin: #footer -->
				<div id="footer">
					<a href="#" id="home" class="main_link">В начало</a>
				</div>
			</div>
		</div>
		<script>
		
			$(document).ready( function() {
		/*		// account
				$.ajax({
					url: "get_account",
					cache: false,
					beforeSend: function() {
						$('#account').html('Получаем аккаунт');
					},
					success: function(html) {
						$("#account").html(html);
					}
				});
			*/
				getMainWindow()

				$('#home').click( function() {
					getMainWindow()
					return false;
				});
			});
		</script>
	</body>
</html>