<form id="find_form">  
    <input id="find_phrase" type="text" value="Ведите ключевое слово">
    <input type="submit" id="find_button" value="Найти">
    <div id="find_form_underline">
		<img src="img/underline.png"/>
    </div>
</form>

<script>
    $(document).ready( function() {
    	$("#find_phrase").attr("my_init_flag", 1);

        $('#find_form').submit( function() {
        	if($("#find_phrase").val() != "") {
				$.ajax({
					type: "POST",
					url: "find_by_phrase",
					data: "phrase="+$("#find_phrase").val(),
					success: function(html) {
						$("#main").html(html);
					}
				});
			}
            return false;
        });

        $('#find_phrase').click( function() {
        	if( $("#find_phrase").attr("my_init_flag") == 1) {
        		$("#find_phrase").attr("my_init_flag", 0);
        		$("#find_phrase").val("");
        	}
        });
    });
</script>
