         <div id="col1_content" class="clearfix">
            <!-- add your content here -->
          </div>
        </div>
        <div id="col2">
          <div id="col2_content" class="clearfix">
            <!-- add your content here -->
          </div>
        </div>
        <div id="col3">
          <div id="col3_content" class="clearfix">
            <!-- add your content here -->
          </div>
          <!-- IE Column Clearing -->
          <div id="ie_clearing"> &#160; </div>
          


<ul>
	<li>result1</li>
	<li>result2</li>
	<li>result3</li>
	<li>result4</li>
</ul>
